/* Reset Default */

/* MY CODE */

/* MAIN PAGE STYLING */

html {
	background-color: rgba(248,248,248,1);
}

html, header, body, footer {
	max-width: 100%;
}

* {
  text-decoration: none;
}

header {
  width: 100%;
  height: 40px;
  text-align: left;
  padding: 20px;
  border-top: 5px solid darkblue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(248, 248, 248, 1);
	position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}

header .header-index {
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  font-weight: 600;
  color: #111;
  display: block;
  text-align: left;
	float: left;
	line-height: 27px;
	padding: 2px;
  margin: 2.5px;
	transition: color 0.5s;
}

header .header-index:hover {
	color: lightgray;
}

header nav ul {
  margin-left: 0px;
	margin-top: 8px;
  float: left;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 15px;
}

header nav ul li a {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: #111;
	transition: color 0.5s;
}

header nav ul li a:hover {
	color: lightgray;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
}

body article {
  display: block;
	width: 70vw;
	margin: 5.5em auto;
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: Helvetica, sans-serif;
}

body article code {
	background: rgba(230,230,230,1);
	padding: 4px;
	border-radius: 2px;
	border: 1px solid rgba(220,220,220,1);
}

body article blockquote {
	background: rgba(235,235,235,1);
	border-left: 5px solid rgba(100,100,100,1);
	padding: 10px;
	font-style: italic;
}

body article iframe {
	margin: 0px auto;
	text-align: center;
}

.intro {
  line-height: 2em;
  margin: 10em auto;
}

.portrait {
  border-radius: 100%;
  width: 10em;
  padding: 0em 2em;
  float: left;
}

.welcome-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  font-weight: bolder;
  color: darkblue;
}

.welcome-index {
  width: 100%;
  height: calc(100vh + 500px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: solid #111;
}

.social {
	width: 6%;
	margin: -5px;
	margin-left: 10px;
	margin-right: 10px;
}
/* ABOUT PAGE STYLING */

/* NOTES PAGE STYLING */
.workList {
	text-align: center;
	list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.work {
	position: center;
	margin-bottom: 3em;
  padding: 1em;
  width: 100%;
  border-radius: 0.5em;
}

.work a {
	color: rgba(0,0,0,0.87);
  border: transparent;
  border-top: 3px solid darkblue;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
	font-size: 1.2em;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  transition: 0.2s ease-in-out;
}

.work a:hover {
  border-left: 3px solid darkblue;
  border-right: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  box-shadow: 0px 2px 3px darkblue;
}

.work a:hover + .date {
  margin-top: 29px;
}

.date {
  position: absolute;
	font-size: 0.9em;
	color: rgba(0,0,0,.56);
  margin-top: 30px;
  margin-left: -20px;
	padding: 0px 5px;
	border-radius: 3px;
	background-color: rgba(220,220,220,1);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.projects {
	font-family: 'Roboto Mono', monospace;
  font-size: 20px;
	background-color: lightgray;
}

.projectInfo {
	font-family: 'Roboto Mono', monospace;
	color: #111;
}

.projectHeader {
	padding-top: 20px;
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
	color: darkblue;
}

.projectInfo span h2 {
	font-weight: lighter;
	font-size: 25px;
	vertical-align: middle;
}

.projectInfo span {
	display: inline-block;
}

.projectInfo span .projectSpanOne {
}

.codeIcon {
	width: 40px; height: auto; white-space: nowrap; padding-right: 20px;
	vertical-align: bottom;
}

.projectInfo p {
	display: block;
	width: 70vw;
	margin: 5.5px auto;
	font-size: 18px;
	line-height: 1.5em;
	font-family: Helvetica, sans-serif;
	padding-top: 5px;
	padding-bottom: 10px;
}

.two {
	position: relative;
	display: block;
	background-color: slategrey;
	height: 1000px;
	font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 600;
  color: white;
	text-align: center;
}

.two h1 {
	padding-top: 30px;
}

.nutrition, .stocks, .ncaa {
	object-fit: cover;
  object-position: 100% 0 15px;
  width: 100px;
  height: 100px;
}


.two ul {
	float: center;
	display: inline-block;
	list-style: none;
}

.two ul li {
	display: inline-block;
	margin: 40px;
	margin-top: 20px;
}

footer {
	clear: both;
  position: relative;
  height: 40px;
  margin-top: 100px;
	text-align: center;
}

.footerList {
	list-style: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 0 25px;
	font-family: 'Roboto Mono', monospace;
	font-size: 17px;
	color: #111;
}

.contact {
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
	font-size: 17px;
	color: #111;
}
